@model IEnumerable<Taller2Net.Models.Product>

@{
    ViewData["Title"] = "Productos";
}

<div class="container mt-5">
    <h2 class="mb-4">Productos</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
                <tr>
                    <td>@producto.Id</td>
                    <td>@producto.Name</td>
                    <td>@producto.Price</td>
                    <td>@producto.Description</td>
                    <td>@producto.Stock</td>
                </tr>
            }
        </tbody>
    </table>
</div>
